.container {
    height: 100vh;
}

.carousel-container {
    position: relative;
}

.container-imgs {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.imgs {
    width: 10rem;
    height: 8rem;
    opacity: 0.3;
}

.imgActive {
    opacity: 1;
}


/* buttons */
button {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
}

.pervBtn {
    top: 0em;
}

.nextBtn {
    bottom: 0em;
}

.pervBtn:hover {
    background-color: black;
}

.nextBtn:hover {
    background-color: black;
    
}