.container {
    width: 100vw;
    height: 100vh;
}

.container-imgs {
    display: flex;
    flex-direction: column;
}

.imgs {
    opacity: 0.3;
    width: 15rem;
}

.imgActive {
    opacity: 1;
}


/* buttons */
button {
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    
}

